$sider-bar-background: #03172a;
$sider-bar-background-switch: #1e578f; // expand or collapse
$sider-bar-selected-background: #052441;
$sider-bar-font-color: #fff;

$main-content-background: #f9f9f9;
$main-content-inner-background: #fff;
$main-content-title: #121212;
$main-content-text: #434343;
$main-content-text-light: #BFBFBF;
$main-content-error: #F44F4F;

$main-button-background: #68B276;
$main-button-background-light: #ecf4ec;

$hr-splitter-color: #F0F0F0;

